/*GENERAL LAYOUT STYLE*/
body{
	font-family: Arial, Verdana, sans-serif; 
	background-color: #EEDDBC; 
	font-size: 1em; 
}
h1{
    text-align: center;
    margin: 0em;
    font-size: 1em;
    margin-top: 0.5em;
    color: #843C0C;
    font-family: Arial, Verdana, sans-serif; 
}
h2{
    text-align: center;
    margin: 0em;
    font-size: 1em; 
    margin-top: 0.5em;
    color: #843C0C;
    font-family: Arial, Verdana, sans-serif; 
}

#container{
    padding: 1em;
    background-color: #EEDDBC;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    background-color: #EEDDBC;
}
#logo img{
	width: 100%;
	height: auto;
	font-size: 0em;
	padding: 0em;
	margin: 0em;
}

nav{
    background-color: #843C0C;
    height: 1em;
    width: 100%;
    text-align:center;
    border-top: 0.01em solid #843C0C;
    border-bottom: 0.01em solid #843C0C;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav a{
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif; 
    padding-left: 1.5em;
    text-decoration: none;
    color: white;
}
nav a:link{
    color: #843C0C;
}
nav a:hover{
    color: white; 
}
main{
    background-color: #EEDDBC ;
}
footer{
	background-color: #843C0C;
	height: 1.5em;
	clear: both;
	margin-top: 2em;
	}
	
footer h6{
	color: #FFFFFF;
	text-align:center;
	line-height:2em;
    font-family: Arial, Verdana, sans-serif; 
	}
#banner img{
    width: 100%;
    margin-top: 0.5em;
}
/*HOME PAGE STYLE*/
.home_image {
    float: left;
    width: 33.33%;
    border: none;
    margin-top: 0.5em;
    }
.home_image img{
    float: left;
    width: 100%;
}
#home_left {
    float: left;
    width: 60%;
}
#home_right {
    float: right;
    width: 35%;
}
#news{
    float: left;
    width: 60%;
    clear: both;
    color: red;
    font-weight: bold;
}

.bold{
    font-weight: bold;
    color: #843C0C;
}

/*MENU PAGE STYLE*/
#menu{
    float: left;
    width: 33.33%;
}
ul{
    list-style: none;
}
/*ABOUT US PAGE STYLE*/
#about_us{
    float: left;
    width: 50%;
    padding-top: 1em;
}
#follow_us{
    float: right;
    width: 40%;
    padding-top: 1em;
}
#follow_us img{
    position: relative;
    top: 1em;
    left: 20%;
    padding-left: 1em;
}

/*GALERY PAGE STYLE*/
#follow_us_galery img{
    position: relative;
    top: 1em;
    left: 45%;

}
.gal_image {
    float: left;
    width: 33.33%;
    border: none;
    margin-top: 0.5em;
    }
.gal_image img{
    float: left;
    width: 100%;
}

/*CONTACT US PAGE STYLE*/
#contactform{
    width: 50%;
    position: relative;
    left: 25%;
    padding-top: 2em;
    padding-bottom: 2em;
    clear: both;
}
.row-form{ 
    clear: left;
    overflow: hidden;
    zoom: 1;
    margin-top: 1em;
}
label{
display: block;
margin-bottom:0.1em;
}
input[type=text],input[type=phone],input[type=email], select,textarea{
width: 90%; 
background-color: #EEDDBC;
border: .1em solid #999999; 
border-radius: 0.3em; 
}
#message{
    height: 10em;
    width: 90%;
}
input[type="submit"]{
display: inline-block; 
margin: 0;
padding: 0.7em 1.2em;
border: 0;
border-radius: 0.3em;
color: #ffffff;
background-color: darkgrey;
}
input[type="submit"]:focus{
background-color: black;
}
input[type="submit"]:hover{
background-color: #843C0C;
}
input[type="submit"]:active{
background-color: red;
}
#contact_bottom{
    width: 50%;
    position: relative;
    left: 25%;
    padding-top: 0.5em;
    padding-bottom: 2em;
    clear: both;
    border-top: 0.1em solid grey;
}
#maps{
    float: left;
    width: 40%;
    padding-top: 2em;
    padding-bottom: 2em;
}
#maps img{
    border: 0.1em solid grey;
}
#contact_right {
    float: right;
    padding-top: 2em;
    width: 35%;
}

/*TABLE LANDSCAPE LAYOUT*/
@media screen and (max-width: 1024px){
    body{
        font-family: Arial, Verdana, sans-serif;  
        background-color: #EEDDBC; 
        font-size: 1.15em; 
    }  
    #container{
        padding: 1em;
        background-color: #EEDDBC;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    nav a{
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif; 
        padding-left: 1.5em;
        text-decoration: none;
        font-size: 1.25em;
    }
    /*GALERY PAGE ADJUST*/
    #follow_us_galery img{
        position: relative;
        top: 1em;
        left: 40%;

    }
    #maps{
        float: left;
        width: 25%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    /*CONTACT US PAGE ADJUST*/
    #contact_right {
        float: right;
        padding-top: 1em;
        width: 30%;
    }
    input[type="submit"]{
        display: inline-block; 
        margin: 0;
        padding: 1.5em 2em;
        border: 0;
        border-radius: 0.3em;
        color: #ffffff;
        background-color: darkgrey;
        }
}

/*TABLE PORTRAIT LAYOUT*/
@media screen and (max-width: 768px){
    body{
        font-family: Arial, Verdana, sans-serif; 
        background-color: #EEDDBC; 
        font-size: 1.25em; 
    }
    #container{
        padding: 1em;
        background-color: #EEDDBC; 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    nav{
        background-color: #843C0C;
        height: 1em;
        width: 100%;
        text-align:center;
        border-top: 0.01em solid #843C0C;
        border-bottom: 0.01em solid #843C0C;
        padding-top: 0.5em;
        padding-bottom: 0.75em;
    }
    nav a{
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif; 
        padding-left: 0.5em;
        text-decoration: none;
        font-size: 1.35em;
    }
    /*MENU PAGE ADJUST*/
    #menu{
        float: left;
        width: 100%;   
    }
    /*GALERY PAGE ADJUST*/
    #follow_us_galery img{
        position: relative;
        top: 1em;
        left: 35%;

    }
    .gal_image {
        float: left;
        width: 50%;
        border: none;
        margin-top: 0.5em;
        }
    .gal_image img{
        float: left;
        width: 100%;
    }
    /*ABOUT US PAGE ADJUST*/
    #about_us{
        float: left;
        width: 100%;
        padding-top: 1em;    
    }
    #follow_us{
        float: left;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1.5em;
        clear: both;
    }
    #follow_us img{
        position: relative;
        top: 0.5em;
        bottom: 0.5em;
        left: 30%;
        padding-left: 1em;
        clear: both;
    }
    /*CONTACT US PAGE ADJUST*/
    #contactform{
        width: 75%;
        position: relative;
        left: 12.5%;
        padding-top: 2em;
        padding-bottom: 2em;
        clear: both;
    }
    #contact_bottom{
        width: 85%;
        position: relative;
        left: 7.5%;
        padding-top: 0.5em;
        padding-bottom: 2em;
        clear: both;
        border-top: 0.1em solid grey;
    }
    
    #maps{
        float: left;
        width: 25%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #contact_right {
        float: right;
        padding-top: 1em;
        width: 40%;
    }
    input[type="submit"]{
        display: inline-block; 
        margin: 0;
        padding: 1.75em 2.25em;
        border: 0;
        border-radius: 0.3em;
        color: #ffffff;
        background-color: darkgrey;
        }
}

/*SMARTPHONE PORTRAIT LAYOUT*/
@media screen and (max-width: 375px){
    body{
        font-family: Arial, Verdana, sans-serif; 
        background-color: #EEDDBC; 
        font-size: 1.25em; 
    }
    #container{
        padding: 1em;
        background-color: #EEDDBC; 
        width: 100%;
    }
    nav{
        background-color: #843C0C;
        height: 1em;
        width: 100%;
        text-align:center;
        border-top: 0.01em solid #843C0C;
        border-bottom: 0.01em solid #843C0C;
        padding-top: 0.5em;
        padding-bottom: 3.75em;
    }
    nav a{
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif; 
        padding-left: 0.75em;
        padding-top: 1.5;
        text-decoration: none;
        font-size: 1.35em;
    }
    /*HOME PAGE ADJUST*/
    #home_left {
        float: left;
        width: 100%;
    }
    #home_right {
        float: left;
        width: 100%;
    }
    #news{
        float: left;
        width: 100%;
        clear: both;
        color: red;
        font-weight: bold;
    }
    /*MENU PAGE ADJUST*/
    #menu{
        float: left;
        width: 100%;    
    }
    /*GALERY PAGE ADJUST*/
    #follow_us_galery img{
        position: relative;
        top: 1em;
        left: 25%;

    }
    .gal_image {
        float: left;
        width: 90%;
        border: none;
        margin-top: 0.5em;
        }
    .gal_image img{
        float: left;
        width: 100%;
    }
    /*ABOUT US PAGE ADJUST*/
    #about_us{
        float: left;
        width: 100%;
        padding-top: 1em;    
    }
    #follow_us{
        float: left;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1.5em;
        clear: both;
    }
    #follow_us img{
        position: relative;
        top: 0.5em;
        bottom: 0.5em;
        left: 10%;
        padding-left: 1em;
        clear: both;
    }
    /*CONTACT US PAGE ADJUST*/
    #contactform{
        width: 95%;
        position: relative;
        left: 2.5%;
        padding-top: 1em;
        padding-bottom: 1em;
        clear: both;
    }
    #contact_bottom{
        width: 95%;
        position: relative;
        left: 2.5%;
        padding-top: 0.5em;
        padding-bottom: 2em;
        clear: both;
        border-top: 0.1em solid grey;
    }
    #maps{
        float: left;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.75em;
    }

    #contact_right {
        float: left;
        padding-top: 0.25em;
        border-top: 0.1em solid grey;
        width: 100%;
    }
    input[type="submit"]{
        display: inline-block; 
        margin: 0;
        padding: 1.75em 2.25em;
        border: 0;
        border-radius: 0.3em;
        color: #ffffff;
        background-color: darkgrey;
        }
}